.App {
  text-align: center;
}

ul > li {
  list-style: none;
}

.remove-btn{
  background-color: rgb(255, 6, 6);
  color: white;
  border-radius: 15px;
  border: none;
}
.remove-btn:hover{
  background-color: brown;
}